# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Masters\Assignment3DV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
